/* Grids */
.col-50{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin-right: auto;
	margin-left: auto
}
.game-bg .col-50{
	margin-top: 10em;
	padding-left: 5em;
	padding-right: 5em;
	box-sizing: border-box; 
}
.game-bg .col-50 img[src*="logo-index.png"]{
	padding-top: 5em
}