/* INDEX */
#game-bg{
	background: url(../../assets/images/game-bg.jpg) center top no-repeat #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 760px;
}
#game-bg h1{
	color: @white;
}

#game-bg .col-2{
	margin-top: 10em;
	padding-left: 5em;
	padding-right: 5em;
	box-sizing: border-box; 
}
#game-bg .col-2 img[src*="logo-index.png"]{
	padding-top: 5em
}
#game-bg hr{
	margin: 2em 0;
	background: @gray-light;
}